# Python
.py[cod]
__pycache__/
.pytest_cache/

# Pyinstruments
.profiles/


# Editor
# VSCode
.vscode/
.VSCodeCounter/
# Obsidian
.obsidian/
.trash/


# Application
instance/
.well-known/


# Webapp
node_modules/
dist/
www/
loader/
# If you want to distribute your application, it's better to save `public/webapp/`.
public/webapp/


# SQLite Database
*_local.db
*_dev.db
*_test.db
